@font-face {
    font-family: TheSansB;
    src: url("./fonts/TheSansB-W5Plain.otf") format("opentype");
}

@font-face {
    font-family: TheSansB;
    font-weight: bold;
    src: url("./fonts/TheSansB-W6SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "BaseNine";
  src: url(./fonts/basenine.ttf) format("truetype");
}

body {
     margin: 0;
     color: #fff;
     font-family: Monospace;
     font-size: 16px;
     line-height: 24px;
     overscroll-behavior: none;
}
 a {
     color: #ff0;
     text-decoration: none;
}
 a:hover {
     text-decoration: underline;
}
 button {
     cursor: pointer;
     text-transform: uppercase;
}
 canvas {
     display: block;
}
 a, button, input, select {
     pointer-events: auto;
}
 .overlayText {
    /*position: absolute;
    */
     top: 50px;
     bottom: 50px;
     width: 100%;
     text-align: center;
     vertical-align: top;
     display: inline-block;
}
 #overlay {
     position: absolute;
     top: 50px;
     width: 100%;
     text-align: center;
     z-index: 100;
     display: block;
}
 .gui-button {
     display: inline-block;
     position: absolute;
     padding-top: 6px;
     padding-right: 6px;
     padding-bottom: 6px;
     padding-left: 6px;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 4px;
     background: rgba(0, 0, 0, 0.1);
     color: rgb(255, 255, 255);
     font: 13px sans-serif;
     text-align: center;
     vertical-align: top;
     opacity: 0.5;
     outline: none;
     z-index: 999;
     cursor: pointer;
     width: 25%;
    /*width: auto;
    */
     user-select: none;
    /* supported by Chrome and Opera */
     -webkit-user-select: none;
    /* Safari */
     -khtml-user-select: none;
    /* Konqueror HTML */
     -moz-user-select: none;
    /* Firefox */
     -ms-user-select: none;
    /* Internet Explorer/Edge */
}
 .gui-button-left {
     left: 20px;
     position: absolute;
     bottom: 20px;
     padding: 12px 6px;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 4px;
     background: rgba(0, 0, 0, 0.1);
     color: rgb(255, 255, 255);
     font: 13px sans-serif;
     text-align: center;
     opacity: 0.5;
     outline: none;
     z-index: 999;
     cursor: pointer;
     right: calc(80% - 50px);
     width: 100px;
     user-select: none;
    /* supported by Chrome and Opera */
     -webkit-user-select: none;
    /* Safari */
     -khtml-user-select: none;
    /* Konqueror HTML */
     -moz-user-select: none;
    /* Firefox */
     -ms-user-select: none;
    /* Internet Explorer/Edge */
}
 .wrapper {
     height: 100%;
     width: 100%;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     position: absolute;
     background: rgba(255, 255, 255, 1.0);
     background-size: 400% 400%;
}

 button {
    /* Makes the text unzoomable and unselectable */
     position: fixed;
     height: 4vh;
     width: 14vh;
     border: solid 2px;
     border-color: black;
     background-color: transparent;
     color: black;
     z-index: 10;
     touch-action: manipulation;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
 button:active {
    /* Button background color changes to grey when held */
     background-color: rgb(212, 212, 212);
}
 #ultra {
     bottom: 11vh;
     margin: 5%;
     width: 90%;
    /*left: 37.5%;
    */
     display: block;
     user-select: none;
    /*font-size: 50px;
    */
}
 #high {
     bottom: 6vh;
     margin: 5%;
     width: 90%;
    /*left: 37.5%;
    */
     display: block;
     user-select: none;
    /*font-size: 50px;
    */
}
 #low {
     bottom: 1vh;
     margin: 5%;
     width: 90%;
    /*left: 37.5%;
    */
     display: block;
     user-select: none;
    /*font-size: 50px;
    */
}
 #left {
     position: absolute;
     bottom: 13vh;
     left: 6.25%;
     display: none;
     user-select: none;
    /*font-size: 50px;
    */
}
 #right {
     position: absolute;
     bottom: 13vh;
     right: 6.25%;
     display: none;
     user-select: none;
    /* font-size: 50px;
    */
}
 #up {
     bottom: 18vh;
     left: 37.5%;
     display: none;
     user-select: none;
    /*font-size: 50px;
    */
}
 #down {
     bottom: 8vh;
     left: 37.5%;
     display: none;
     user-select: none;
    /*font-size: 50px;
    */
}
 #start {
     bottom: 8vh;
     right: 37.5%;
     display: none;
     user-select: none;
    /* font-size: 50px;
    */
}
 #load {
     bottom: 8vh;
     left: 37.5%;
     user-select: none;
    /* font-size: 50px;
    */
}
 #myProgress {
     display: none;
     position: absolute;
     left: 10%;
     width: 80%;
     background-color: grey;
     border: 1px solid rgba(246, 128, 38, 1);
     border-radius: 4px;
     background: rgba(0, 0, 0, 0.1);
     z-index: 999;
}
 #myBar {
     display: none;
     width: 1%;
     height: 30px;
     background-color: rgba(246, 128, 38, 1);
     z-index: 998;
     text-align: center;
     color: white;
     font-family: BaseNine;
}
 div {
    /* Makes the text unzoomable and unselectable */
     touch-action: manipulation;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
 #instructions {
     position: absolute;
     top: 50px;
     width: 100%;
     text-align: center;
     z-index: 100;
     display: block;
}
 .throttleContainer {
     z-index: 999;
     position: absolute;
     right: 5%;
     bottom: 23vh;
     padding: 0 5px;
     height: 25px;
     width: 150px;
}
 .slider {
     writing-mode: bt-lr;
    /* IE */
     -webkit-appearance: none;
    /* Chromium */
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.1);
     border: 1px solid rgb(255, 255, 255);
     border-radius: 4px;
     -webkit-transform:rotate(270deg);
}
 .slider::-moz-range-track {
     width: 25px;
     height: 25%;
     background-color: rgba(0, 0, 0, 0.1);
     border: 1px solid rgb(255, 255, 255);
     border-radius: 4px;
}
 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     background: rgb(255, 255, 255);
     opacity: 0.5;
     cursor: pointer;
}
 .slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     background: rgb(255, 255, 255);
     opacity: 0.5;
     cursor: pointer;
}
 progress {
     z-index: 999;
     position: absolute;
     left: 5%;
     bottom: 23vh;
     padding: 0 5px;
     height: 25px;
     width: 150px;
     touch-action: manipulation;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-transform:rotate(270deg);
}

.gui-button.ytm {
    font-family: BaseNine;
    border: .1px solid rgba(246, 128, 38, 1);
    border-radius: 30px;
    background: rgba(246, 128, 38, 1);
    color: rgb(255, 255, 255);
    opacity: 1;
}

.overlayText.ytm {
    font-family: TheSansB;
    color: black;
    opacity: 1;
}

.overlayText.ytmHead {
    font-family: BaseNine;
    color: black;
    opacity: 1;
}

.ytmLogo {
  display: block;
  margin-left: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: auto;
  width: 50%;
}

/* unvisited link */
a:link {
  color: rgba(246, 128, 38, 1);
}

/* visited link */
a:visited {
  color: rgba(246, 128, 38, 1);
}

.ytmStartButton {
    font-family: BaseNine !important;
    border: .1px solid rgba(246, 128, 38, 1) !important;
    border-radius: 30px !important;
    background: rgba(246, 128, 38, 1) !important;
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}